.dialogNames {
    padding: 10px;
    margin-right: 10px;
    background-color: #7ebde7;
    border: 1px solid gray;
    border-radius: 4px;
}

.dialog {
    margin: 5px 0px;
    max-width: 200px;
    overflow: hidden;
    word-break: break-word;
    min-width: 150px;
    max-height: 100px;
}

.dialog a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    
}

.dialog a img {
    height: 45px;
    border: 1px solid royalblue;
    border-radius: 35%;
    background-color: salmon;
    margin-right: 5px;
}

.dialog a.active {
    color: rgba(251, 255, 20, 0.952);
}

.dialog a:hover {
    color: rgba(251, 255, 20, 0.952);
}
