.usersPage {
    margin: 15px;
    color: rgba(251, 255, 20, 0.952);
}

.showUsers {
    text-align: center;
}

.showUsers button {
    font-size: 25px;
    border-radius: 8px;
    padding: 5px 10px;
}