.usersPage {
    margin: 15px;
    color: white;
    text-align: center;
    position: relative;
}

.preloader {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
}

.pagginatorLink {
    margin: 0;
}

.pagginatorLink:hover {
    color: rgba(251, 255, 20, 0.952);
}

.usersPage button {
    font-size: 25px;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 5px;
}



