.usersPage {
    margin: 15px;
    color: white;
    text-align: center;
    position: relative;
}

.preloader {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
}

.navigationBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showHideLink {
    margin: 0;
    cursor: pointer;
}

.showHideLink:hover {
    color: rgba(251, 255, 20, 0.952);
}

.showMoreButton {
    font-size: 21px;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}



