.postsContainer {
    padding: 15px;
}

.postsContainer h2 {
    text-align: center;
}

.posts div {
    border-radius: 10px;
}

.myPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
}

.newPostForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPostForm input {
    width: 500px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
}

.newPostForm button {
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px 5px;
}