.messages {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
}

.talker {
    max-width: 50%;
    min-width: 40%;
    min-height: 20px;
    border: 1px solid rgb(126, 189, 231);
    border-radius: 5px;
    margin: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    word-break: break-word;
}

.talkerFirst {
    align-self: flex-start;
    background-color: rgb(135, 186, 208);
}

.talkerSecond {
    align-self: flex-end;
    background-color: rgb(138, 177, 193);
}

.addMessageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.addMessageForm textarea {
    width: 400px;
    min-height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.addMessageForm button {
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.addMessageForm button:hover {
    background-color: white;
}