.messages {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
}

.talker {
    max-width: 50%;
    min-width: 40%;
    min-height: 20px;
    border: 1px solid rgb(142, 142, 252);
    border-radius: 5px;
    margin: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    word-break: break-word;
}

.talkerFirst {
    align-self: flex-start;
    background-color: rgba(236, 204, 20, 0.418);
}

.talkerSecond {
    align-self: flex-end;
    background-color: rgba(152, 165, 39, 0.507);
}

.addMessageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.addMessageForm textarea {
    width: 400px;
    min-height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.addMessageForm button {
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}