.aboutMeBlock {
    padding: 10px 25px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(126, 189, 231);
}

.aboutMe {
    font-style: italic;
}

.fullNameWrapper__underline {
    width: 423px;
    overflow: hidden;
    padding: 0.83em 0;
    border-bottom: 1px solid gray;
}

.fullNameWrapper__underline h2 {
    margin-block-end: 5px;
    margin-block-start: 0;
}

.fullNameWrapper {
    width: 423px;
    overflow: hidden;
}

.fullNameWrapper h2 {
    margin-block-end: 5px;
    margin-block-start: 0;
}

.statusValue {
    overflow-wrap: break-word;
}

.inputError {
    border: 2px solid red;
}