.editProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #7ebde7;
    border: 1px solid gray;
    border-radius: 10px;
    width: 40%;
}

.editProfileForm label {
    margin: 5px 0;
}

.editProfileForm button {
    margin-top: 15px;
    border-radius: 4px;
    font-size: 15px;
}

.LFAJWrapper {
    margin-top: 10px;
    margin-bottom: 5px;
}

.LFAJWrapper input {
    margin-left: 10px;
}

.inputError {
    color: mediumvioletred;
    text-align: center;
}

.urlHint {
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    width: 250px;
    text-align: center;
}

