.header {
    display: flex;
    background-color: rgb(75, 158, 236);
    height: 45px;
}

.header_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header img {
    height: 35px;
    border-radius: 50%;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.login img {
    height: 35px;
    margin: 0;
}

.login a {
    text-decoration: none;
    color: white;
}

.login a:hover {
    text-decoration: underline;
}

.loggedIn {
    display: flex;
    align-items: center;
    background-color: #a0d3e8;
    padding: 0 10px;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
}

.loggedIn span {
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.loggedIn_click {
    background-color: rgb(126, 189, 231);
}

.logOut {
    margin-left: 5px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 12%;
    background-color: #4b9eec;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

.logOut:hover {
    text-decoration: underline;
}

.logOut_hide {
    display: none;
    
}