.header {
    grid-area       : h;
    background-color: rgb(75, 158, 236);
    height: 60px;
}

.header img {
    position: relative;
    top: 12px;
    left: 25px;
    height       : 35px;
    border-radius: 50%;
}