.nav {
  padding: 10px;
  grid-area       : n;
  background-color: rgb(126, 189, 231);
}

.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
}

.item a.active {
  color: rgba(251, 255, 20, 0.952);
}