.navigationContaiter {
  padding: 10px;
  grid-area: n;
  background-color: rgb(160, 218, 241);
}

.navigation {
  position: fixed;
  padding: 10px;
  background-color: rgb(126, 189, 231);
  border-radius: 5px;
  min-width: 130px;
}

.item {
  margin: 10px 0;
}

.item:first-of-type {
  margin-top: 0;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.item a.active {
  color: rgba(251, 255, 20, 0.952);
}