.profileInfo {
    display: flex;
    color: white;
}

.profilePhoto img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin-left: 10px;
}

.descriprion {
    margin-left: 35px;
    width: 55%;
}

.aboutMeBlock {
    padding: 10px 25px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgba(159, 182, 197, 0.21);
}

.aboutMe {
    font-style: italic;
}

.fullNameWrapper {
    padding: 0.83em 0;
    border-bottom: 1px solid gray;
}

.fullNameWrapper h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.lookingForAJob {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgba(159, 182, 197, 0.21);
}

.lookingForAJob img {
    object-fit: contain;
    height: 60px;
    width: 60px;
}

.LFAJ_descriprion {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.LFAJ_descriprion_header {
    font-size: 1.1em;
    text-decoration: underline;
}

.LFAJ_descriprion_vacancy {
    font-style: italic;
}