.profileInfo {
    display: flex;
    color: white;
}

.profilePhoto {
    display: flex;
    flex-direction: column;
}

.profilePhoto img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin-left: 10px;
}

.profileInfo_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfo_buttons input {
    display: none;
}

.profileInfo_buttons label {
    color: buttontext;
    text-align: center;
    background-color: #f0f0f0;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #f0f0f0;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 4px;
}

.profileInfo_buttons button {
    margin-top: 5px;
    border-radius: 4px;
    font-size: 15px;
}

.profileInfo_userInfo {
    margin-left: 35px;
    width: 55%;
}