.post {
    background-color: rgb(126, 189, 231);
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 15px;
    word-break: break-word;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: white;
    position: relative;
}

.postWriter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.postWriter span {
    margin-left: 10px;
    font-size: 17px;
}

.postWriter img {
    width: 60px;
    border-radius: 20%;
}

.postLike {
    position: absolute;
    right: -15px;
    bottom: -15px;
}

.postLike span {
    position: absolute;
    right: -15px;
    bottom: 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(141, 14, 18);
}

.postLike img {
    width: 25px;
    cursor: pointer;
}