.loginForm {
    width: 400px;
    text-align: center;
    margin: 40px auto;
}

.loginForm fieldset {
    border-radius: 5px;
}

.authField {
    margin: 20px 0;
}

.submitButton {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.loginError {
    color: red
}

.legend {
    font-size: 1.2em;
}