.loginForm {
    width: 400px;
    text-align: center;
    margin: 40px auto;
}

.loginForm fieldset {
    border-radius: 5px;
}

.button {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}