.app {
  margin: 0 auto;
  display: grid;
  width: 80vw;
  height: 100vh;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.mainPage_content{
  grid-area: c;
  background-color: rgb(160, 218, 241);
  padding: 10px;
}