.dialogsWrapper {
    padding              : 10px;
    display              : grid;
    grid-template-columns: 1fr 5fr;
}

.dialogNames {
    padding-left: 10px;
}

.dialog {
    margin: 5px 0px;
}

.dialog a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

a.active {
    color: rgba(251, 255, 20, 0.952);
}

.messages {
    padding-left: 10px;
}

.message {
    margin: 5px 0px;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    color: rgb(107, 94, 94);
    font-style: italic;
    text-align: center;
}